<%if @events.present? %>
  <% @events.each do |event| %>
		<ul class="list-group">
		  <li class="list-group-item">
		    <span class="badge"><%= event.users.size %></span>
		    <%= event.name %>
		    <%= event.due_date.strftime("%d %b %y")%>
		  </li>
		</ul>
	<% end %>
<% end %>