	<div class="events_list">
		<ul class="nav nav-tabs" role="tablist" id="events_list">
		  <li class="active"><a href="#all" role="tab" data-toggle="tab" class="tab_link" id="all">All</a></li>
		  <li><a href="#top" role="tab" data-toggle="tab" class="tab_link" id="top_events">Top Events</a></li>
		  <li><a href="#attending" role="tab" data-toggle="tab" class="tab_link" id="attending">Attending</a></li>
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active" id="refreshed_list">
			  <%=render 'list' %>
		  </div>
		</div>
	</div>
 