@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/glyphicons-halflings-regular.svg');
  src: url('/assets/fonts/glyphicons-halflings-regular.ttf');
  src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

input[type="text"], textarea{
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #2eace6;
}
input[type="submit"]{
	border: none;
	width:118px;
	margin:2% 0%;
}

.xlarge{
	width: 250px;
}

.xmedium{
	width: 122px;
}

form{
  margin: 2% 2%;
}

form label {
	margin-right: 5px; 
	width: 180px;
	vertical-align: top;
}

form .row{
	margin-bottom: 14px;
}

.center{
	text-align: center;
}

textarea{
	overflow: auto;
}

.glyphicon-ok-sign{
	color: green;
}

.glyphicon-remove-sign{
	color:red;
}

.action_items{
	font-size: 14px;
	/*font-weight: bold;*/
}
.attend{
	color: green;
}

.unattend{
	color: red;
}

.view_link{
  
}

.flash{
	display: none;
	position: absolute;
	z-index: 100;
	border-radius: 5px;
	padding: 1%;
	text-align: center;
	margin: 38 32%;
}

.error{
	border: 1px solid #CC3300;
	background-color: #ebccd1; /* #f2dede; #a94442;*/
	color: #CC3300;
}
.notice{
	border: 1px solid #FFCC00;
	background-color: #FEF6B9; 
	color: #FFCC00;
}
.alert{
	border: 1px solid green;
	background-color: #dff0d8; 
	color: green;
}