/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
/*.user_container{
	margin: 5% 3%;
}*/

.events_list{
	margin: 0 2%;
}

.events_list table{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.events_list table thead{
	/*background-color: #428bca;*/
	color: #428bca;
	font-weight: bold;
	font-size: 14px;
	border: none;
}

.view_event{
	margin: 2% 2%;
}