// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup_form{
	input{
		padding: 3px;
		border-radius: 5px;
		border: 1px solid #2eace6;
	}
	input[type="submit"]{
		border: none;
		width:118px;
		margin:2% 0%;
	}
	label{
/*		float: left;
		margin-right: 2%;
*/	}
}

.list-group-item:last-child{
  margin-bottom: 19;
}